@import '../fonts/element.css';
@import './variable.scss';
@import './override.scss';

body {
  background: var(--base-bg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: TITLE;
  src: url(https://ethanwp.oss-cn-shenzhen.aliyuncs.com/blog/PangMenZhengDaoBiaoTiTi.woff2)
}
.somnia-tooltip {
  background: linear-gradient(0deg, rgba(255, 255, 255, .3), transparent .65em);
  box-shadow: 0 0 0 1px #00000080 inset, 0 0 0 2px var(--white-opacity-2) inset, 0 5px 10px #0006;
  border-radius: 1.1em !important;
  color: #fff;
  -webkit-backdrop-filter: brightness(30%) saturate(250%) blur(4px);
  backdrop-filter: brightness(30%) saturate(250%) blur(4px);
  padding: .4em 1em;
  font-size: 15px;
  text-shadow: 0 -1px var(--gray-opacity-60);
  transition: .35s;
  z-index: 2002;
}

.somnia-tooltip:before {
  content: "";
  position: absolute;
  left: .55em;
  top: 1px;
  right: .55em;
  height: 1em;
  border-radius: 9em;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
  box-shadow: 0 1px #ffffff4d inset;
  z-index: -1;
}

[v-placement="top-start"]>.n-popover-shared>.n-popover-arrow-wrapper .n-popover-arrow,
[v-placement="bottom-start"]>.n-popover-shared>.n-popover-arrow-wrapper .n-popover-arrow {
  left: calc(var(--n-arrow-offset) - var(--v-offset-left) + 10px);
}
